<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta property="og:url" content="https://blog.syurenyanko.com" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="top page" />
    <meta property="og:description" content="about Information Technology" />
    <meta property="og:site_name" content="log" />
    <title>log</title>
    <link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) | safe }}">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="{{ config.base_url }}">&lt;&lt; log</a>
                <span class="cursor"></span>
            </div>
        </header>

        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>
        <footer>
            <span>© 2024 Naohiro Heya All rights reserved.</span>
            ::
            <span>Made by <a href="https://www.getzola.org/">Zola</a></span>
        </footer>
    </div>
</body>

</html>